html {
    scrollbar-width: none;          /* Firefox */
    -ms-overflow-style: none;       /* IE и Edge */
  }
  
  html::-webkit-scrollbar {
    display: none;                /* Chrome, Safari, Opera */
  }
  
  body {
    overflow-y: scroll;             /* включаем вертикальную прокрутку */
  }
  